{% load static %}

<!-- Start Footer -->
<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 text-center text-md-left mb-3 mb-md-0">
        <img src="{% static 'private/assets/images/logo-icon.svg' %}" alt="Logo" class="footer-logo" style="height:36px;">
      </div>
      <div class="col-md-4 text-center">
        <p class="mb-0 text-white">Copyright © 2026 MI PRIMER EMPRENDIMIENTO</p>
      </div>
      <div class="col-md-4 text-center text-md-right">
        <a href="#" class="text-white">Privacy</a>
        <span class="text-white mx-2">|</span>
        <a href="#" class="text-white">Terms</a>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->


<!-- Start Color Switcher -->
<div class="right-sidebar">

  <div class="switcher-icon">
    <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
  </div>

  <div class="right-sidebar-content">

    <p class="mb-0">Gaussian Texture</p>
    <hr>

    <ul class="switcher">
      <li id="theme1"></li>
      <li id="theme2"></li>
      <li id="theme3"></li>
      <li id="theme4"></li>
      <li id="theme5"></li>
      <li id="theme6"></li>
    </ul>

    <p class="mb-0">Gradient Background</p>
    <hr>

    <ul class="switcher">
      <li id="theme7"></li>
      <li id="theme8"></li>
      <li id="theme9"></li>
      <li id="theme10"></li>
      <li id="theme11"></li>
      <li id="theme12"></li>
      <li id="theme13"></li>
      <li id="theme14"></li>
      <li id="theme15"></li>
    </ul>

  </div>

</div>
<!-- End Color Switcher -->

</div>
<!-- End Wrapper -->


<!-- Bootstrap Core JavaScript -->
<script src="{% static 'private/js/jquery.min.js' %}"></script>
<script src="{% static 'private/js/popper.min.js' %}"></script>
<script src="{% static 'private/js/bootstrap.min.js' %}"></script>

<!-- Simplebar JS -->
<script src="{% static 'private/plugins/simplebar/js/simplebar.js' %}"></script>

<!-- Sidebar Menu JS -->
<script src="{% static 'private/js/sidebar-menu.js' %}"></script>

<!-- Custom Scripts -->
<script src="{% static 'private/js/app-script.js' %}"></script>

<!-- Chart JS -->
<script src="{% static 'private/plugins/Chart.js/Chart.min.js' %}"></script>

<!-- Index JS -->
<script src="{% static 'private/js/index.js' %}"></script>

</body>
</html>