{% load static %}
{% include 'header.html' %}

<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

  <!--Start Dashboard Content-->
  <div class="row">
    <div class="col-12">
      <h4 class="mb-4">Inicio</h4>
    </div>
  </div>

	<div class="card mt-3">
    <div class="card-content">
        <div class="row row-group m-0">
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0">145 <span class="float-right"><i class="fa fa-shopping-cart"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div class="progress-bar" style="width:65%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Productos <span class="float-right">+5.2%</span></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0">82 <span class="float-right"><i class="fa fa-users"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div class="progress-bar" style="width:45%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Clientes <span class="float-right">+3.1%</span></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0">$24,500 <span class="float-right"><i class="fa fa-money"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div class="progress-bar" style="width:75%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Ventas Este Mes <span class="float-right">+8.5%</span></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0">12 <span class="float-right"><i class="fa fa-exclamation-circle"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div class="progress-bar" style="width:35%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Tareas Pendientes <span class="float-right">-2.3%</span></p>
                </div>
            </div>
        </div>
    </div>
 </div>  
 
	
	<div class="row mt-4">
	 <div class="col-12 col-lg-8">
	   <div class="card">
	     <div class="card-header">
	       <h6 class="card-title">Últimas Ventas</h6>
	     </div>
	     <div class="table-responsive">
	       <table class="table table-hover table-borderless">
	         <thead>
	           <tr>
	             <th>ID</th>
	             <th>Cliente</th>
	             <th>Producto</th>
	             <th>Monto</th>
	             <th>Fecha</th>
	           </tr>
	         </thead>
	         <tbody>
	           <tr>
	             <td>#001</td>
	             <td>Juan García</td>
	             <td>Producto A</td>
	             <td>$150.00</td>
	             <td>Hoy</td>
	           </tr>
	           <tr>
	             <td>#002</td>
	             <td>María López</td>
	             <td>Producto B</td>
	             <td>$200.00</td>
	             <td>Ayer</td>
	           </tr>
	         </tbody>
	       </table>
	     </div>
	   </div>
	 </div>

	 <div class="col-12 col-lg-4">
	   <div class="card">
	     <div class="card-header">
	       <h6 class="card-title">Atajos Rápidos</h6>
	     </div>
	     <div class="card-body">
	       <div class="list-group">
	         <a href="{% url 'productos' %}" class="list-group-item list-group-item-action">
	           <i class="fa fa-plus mr-2"></i> Agregar Producto
	         </a>
	         <a href="{% url 'clientes' %}" class="list-group-item list-group-item-action">
	           <i class="fa fa-plus mr-2"></i> Agregar Cliente
	         </a>
	         <a href="{% url 'ventas' %}" class="list-group-item list-group-item-action">
	           <i class="fa fa-plus mr-2"></i> Nueva Venta
	         </a>
	       </div>
	     </div>
	   </div>
	 </div>
	</div>

      <!--End Dashboard Content-->
	  
	<!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->
		
    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
{% include 'footer.html' %}