{% load static %}
{% include 'header.html' %}

<div class="clearfix"></div>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="card mt-3">
      <div class="card-header">
        <h4>UI Icons</h4>
      </div>
      <div class="card-body">
        <h5>Iconos disponibles</h5>
        <p>Aquí irán los iconos de la interfaz de usuario</p>
        <div class="row mt-4">
          <div class="col-md-3">
            <div class="text-center">
              <i class="zmdi zmdi-view-dashboard" style="font-size: 48px;"></i>
              <p>Dashboard</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="text-center">
              <i class="zmdi zmdi-grid" style="font-size: 48px;"></i>
              <p>Tables</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="text-center">
              <i class="zmdi zmdi-format-list-bulleted" style="font-size: 48px;"></i>
              <p>Forms</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="text-center">
              <i class="zmdi zmdi-calendar-check" style="font-size: 48px;"></i>
              <p>Calendar</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
